* {
  margin: 0;
  padding: 0;
}

.btn {
  color: #707070;
  border-radius: 32px;
  border: none;
  outline: none;
  box-shadow: 0px 3px 10px #d7dfe2, 0px 3px 10px #90a4ae;
  /* font-family: */
  font-weight: bold;
}
.btn:hover {
  cursor: pointer;
}
.newbie {
  width: 130px;
  height: 46px;
  font-size: 15px;
  background: #ffea5c;
}
.newbie:hover {
  background-color: #fff5b3;
}
.login {
  color: white;
  width: 100px;
  height: 40px;
  font-size: 15px;
  background: #b9c6d2;
}
.login:hover {
  background-color: #d0d4d8;
}

header {
  display: flex;
  align-items: center;
  padding: 25px 14%;
}
.logo {
  cursor: pointer;
  margin-right: 10%;
  height: 50px;
  width: 130px;
}
.header_items li {
  padding: 0;
  margin: 0;
  display: inline-block;
  padding: 0px 5px;
}

.search {
  border: none;
  height: 100%;
  width: 100%;
  padding: 0px 5px;
  border-radius: 50px;
  font-size: 15px;
  color: #707070;
  background-color: #dde0ea;
  font-weight: 300;
}
input:focus {
  outline: none;
}
.search_bar_container {
  height: 38px;
  width: 400px;
  background-color: #dde0ea;
  padding: 0px 10px;
  border-radius: 50px;
  margin-right: 100px;
}
i {
  font-size: 20px;
  color: #b2bce0;
  margin-right: 3px;
}

/*main content*/

.background {
  background: rgba(221, 224, 234, 1);
  width: 100%;
  height: 330px;
  margin-top: 40px;
  padding-top: 3%;
}

.menu_img {
  width: 130px;
  height: 130px;
}
.first,
.second {
  display: flex;
  flex-direction: row;
}
.menu_btns {
  /* margin: 0 auto; */
  position: relative;
  margin-left: 13%;
  /* margin-top: 5%; */
}
.menu {
  margin: 10px;
}

/*footer*/

footer {
  margin-top: 80px;
  /* position: absolute; */
  bottom: 0;
  left: 0;
  right: 0;
  background: #bec5dd;
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
}
.socials a i {
  font-size: 1.1rem;
  color: rgb(93, 106, 119);
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: rgb(255, 208, 0);
}

.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
