* {
  margin: 0;
  padding: 0;
  font-family: "Do Hyeon", sans-serif;
}

.btn {
  color: #707070;
  border-radius: 32px;
  border: none;
  outline: none;
  box-shadow: 0px 2px 6px #d7dfe2, 0px 2px 6px #90a4ae;
  /* font-family: */
  font-weight: bold;
}
.btn:hover {
  cursor: pointer;
}
.newbie {
  width: 130px;
  height: 46px;
  font-size: 14px;
  background: #ffd112;
}
.newbie:hover {
  background-color: #fff5b3;
}
.login {
  color: white;
  width: 100px;
  height: 40px;
  font-size: 14px;
  background: #b9c6d2;
}
.login:hover {
  background-color: #d0d4d8;
}

header {
  display: flex;
  align-items: center;
  padding: 25px 11%;
}
.logo {
  cursor: pointer;
  margin-right: 9%;
  height: 56px;
  width: 160px;
}
.header_items li {
  padding: 0;
  margin: 0;
  display: inline-block;
  padding: 0px 2px;
}

.search_bar_container {
  margin: 0px 70px;
}
input {
  font-family: FontAwesome;
  color: #000000;
}

input:focus {
  outline: none;
}
form.box {
  margin-right: 50px;
}
form.box input {
  border: none;
}
form.box input[type="text"] {
  height: 18px;

  background-color: #e2e2e2;
  width: 360px;
  padding: 10px;
  padding-left: 15px;
  border-radius: 25px 0 0 25px;
}
form.box input[type="submit"] {
  cursor: pointer;
  height: 39px;
  width: 50px;
  background-color: #ffd112;
  padding: 10px;
  border-radius: 0 25px 25px 0;
  color: #fff;
  margin-left: -6px;
}
i {
  font-size: 20px;
  color: #b2bce0;
  margin-right: 3px;
}

/*main content*/

.swja {
  font-size: 15px;
  color: #707070;
  margin: 30px;
}
.list-items {
  margin: 0 6%;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.list-item {
  margin: 20px;
  font-size: 15px;
}
.time-place {
  color: #707070;
  font-size: 13px;
}

.background {
  background: #ffd112;
  width: 100%;
  height: 330px;
  margin-top: 40px;
  padding-top: 3%;
}

.menu_img {
  width: 130px;
  height: 130px;
}
.first,
.second {
  display: flex;
  flex-direction: row;
}
.menu_btns {
  /* margin: 0 auto; */
  position: relative;
  margin-left: 13%;
  /* margin-top: 5%; */
}
.menu {
  margin: 10px;
}

/*footer*/

footer {
  margin-top: 80px;
  /* position: absolute; */
  bottom: 0;
  left: 0;
  right: 0;
  background: #bec5dd;
  height: auto;
  width: 100%;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
}
.socials a i {
  font-size: 1.1rem;
  color: rgb(93, 106, 119);
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: rgb(255, 208, 0);
}

.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
