* {
  font-family: "Do Hyeon", sans-serif;
}
.back-box {
  border-style: none;
  background-color: white;
  width: 1080px;
  height: 1900px;
  margin: 0 auto;
  margin-top: 40px;
  box-shadow: 0px 0px 10px 0px grey;
}
.logo {
  cursor: pointer;
  margin-left: 100px;
  margin-top: 50px;
  height: 60px;
  width: 170px;
  margin-bottom: -70px;
}

.sign-btn {
  background-color: #ffd112;
  margin-left: 780px;
  border-style: solid;
  border-radius: 13px;
  width: 80px;
  height: 32px;
  font-size: 15px;
}

.sign-btn:hover {
  background-color: #cecece;
  cursor: pointer;
}

.login-btn {
  background-color: white;
  margin-left: 10px;
  border-style: solid;
  border-radius: 13px;
  width: 80px;
  height: 32px;
  font-size: 15px;
}

.login-btn:hover {
  background-color: #cecece;
  cursor: pointer;
}

.title {
  margin-top: 160px;
  margin-left: 130px;
  font-size: 40px;
}

.between {
  color: #848484;
  font-size: 35px;
}

.sub-title {
  text-align: center;
  font-size: 30px;
  margin-top: 150px;
}
.sub-text {
  text-align: center;
  font-size: 18px;
}
.sub-text-mini {
  text-align: center;
  font-size: 15px;
  color: #ffac12;
  margin-top: 20px;
  margin-bottom: 40px;
}
.img {
  display: block;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -40px;
  width: 861px;
  height: 256px;
}
.go-btn {
  text-align: center;
}

.go-btn input:hover {
  background-color: #d0d4d8;
  cursor: pointer;
}

.go-btn input {
  background-color: #ffd112;
  border-color: #dfdfdf;
  border-style: solid;
  border-radius: 50px;
  width: 380px;
  height: 110px;
  font-size: 26px;
  margin-top: 130px;
  text-align: center;
  box-shadow: 0px 0px 10px 0px grey;
}
