/*header*/
* {
  font-family: "Do Hyeon", sans-serif;
  padding: 0;
  margin: 0;
}
.btn {
  color: #707070;
  border-radius: 32px;
  border: none;
  outline: none;
  box-shadow: 0px 2px 6px #d7dfe2, 0px 2px 6px #90a4ae;
  /* font-family: */
  font-weight: bold;
}
.btn:hover {
  cursor: pointer;
}

.login {
  color: white;
  width: 100px;
  height: 40px;
  font-size: 15px;
  background: #ffd112;
}
.login:hover {
  background-color: #d0d4d8;
}

header {
  display: flex;
  align-items: center;
  padding: 25px 11%;
}
.logo {
  cursor: pointer;
  margin-right: 9%;
  height: 56px;
  width: 160px;
  margin-right: 60%;
}
.header_items li {
  padding: 0;
  margin: 0;
  display: inline-block;
  padding: 0px 2px;
}

/*main*/

.post-title {
  background-color: #ffd112;
}

.title-box {
  text-align: center;
  margin-bottom: 50px;
}

.title {
  margin: 0 auto;
  font-size: 50px;
}

.sub-title {
  font-size: 35px;
}

.joinBtn {
  margin-left: 48%;
  margin-top: 20px;
}
.con {
  text-align: left;
}

body {
  line-height: 2em;
}
ul,
li {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

#ulTable {
  margin: 4% 0;
  margin-left: 20%;
}

#ulTable > li > ul {
  clear: both;
  padding: 0px auto;
  position: relative;
  min-width: 40px;
}
#ulTable > li > ul > li {
  float: left;
  font-size: 10pt;
  border-bottom: 1px solid silver;
  vertical-align: baseline;
}

#ulTable > li > ul > li:first-child {
  width: 10%;
} /*No 열 크기*/
#ulTable > li > ul > li:first-child + li {
  width: 45%;
} /*제목 열 크기*/
#ulTable > li > ul > li:first-child + li + li {
  width: 20%;
} /*작성일 열 크기*/
#ulTable > li > ul > li:first-child + li + li + li {
  width: 15%;
} /*작성자 열 크기*/

/*footer*/

footer {
  margin-top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #bec5dd;
  height: auto;
  width: 100%;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
}
.socials a i {
  font-size: 1.1rem;
  color: rgb(93, 106, 119);
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: rgb(255, 208, 0);
}

.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
